.events {
  height: 323vh;
  width: 103vw;
}
.events section {
  height: 102.5vh;
  width: 103vw;
}
.events section:nth-of-type(1) {
  background-color: #2542E5;
  height: 101vh;
  padding-top: 2vh;
}
.events section:nth-of-type(2),
.events section:nth-of-type(3) {
  background-color: #0019A8;
}
.events a {
  z-index: 400;
}
.heading_events {
  background: url(../images/heading_8.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 49.5vh;
  height: 7vh;
  top: 5.5vh;
  margin-left: 3.5vw;
}
.heading_announcements {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
  align-items: baseline;
  top: 7.5vh;
  margin-left: 3.5vw;
}
.announcement {
  background: url(../images/heading_9.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 32vh;
  height: 7vh;
}
.calendar_dates,
.calendar_events,
.date_1,
.date_2,
.date_3,
.date_4,
.date_5,
.date_6,
.date_7,
.round_table,
.cleaning_day,
.container_trees_3,
.event_description,
.date_time {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
.calendar {
  height: 90vh;
  position: relative;
  padding-top: 14vh;
}
.calendar_tree {
  background: url(../images/calendar_tree.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left -25vh;
  position: relative;
  width: 163vh;
  height: 50vh;
}
.calendar_dates {
  margin-top: -44vh;
  margin-left: 11vh;
}
.date_1,
.date_2,
.date_3,
.date_4,
.date_5,
.date_6,
.date_7 {
  align-items: baseline;
}
.date_2 {
  margin-left: 8vh;
  margin-top: 9vh;
}
.date_3 {
  margin-left: 8vh;
  margin-top: 3.5vh;
}
.date_4 {
  margin-left: 10vh;
  margin-top: 3.5vh;
}
.date_5 {
  margin-left: 6vh;
  margin-top: 1vh;
}
.date_6 {
  margin-left: 5vh;
  margin-top: 1vh;
}
.date_7 {
  margin-left: 3vh;
  margin-top: -1vh;
}
.date_1 p,
.date_3 p,
.date_5 p,
.date_6 p {
  margin-left: -1vh;
}
.date_2 p {
  margin-left: 1vh;
}
.date_7 p {
  margin-left: -1.5vh;
}
.number_1 {
  background: url(../images/number_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 5.5vh;
  height: 7vh;
}
.number_2 {
  background: url(../images/number_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 5.5vh;
  height: 7vh;
}
.number_3 {
  background: url(../images/number_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 7.4vh;
  height: 7vh;
}
.number_4 {
  background: url(../images/number_4.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 6.2vh;
  height: 7vh;
}
.number_5 {
  background: url(../images/number_5.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 7.5vh;
  height: 7vh;
}
.number_6 {
  background: url(../images/number_6.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 7vh;
  height: 7vh;
}
.number_7 {
  background: url(../images/number_7.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 6vh;
  height: 7vh;
}
.calendar_events {
  margin-left: 15.5vh;
}
.round_table .tria,
.cleaning_day .tria {
  margin-top: 0.7vh;
}
.calendar a {
  padding-left: 2vh;
  font-size: 26px;
  line-height: 30px;
  margin-top: 0;
  cursor: url(../images/pointer.svg), auto;
}
.container_trees_3 {
  height: 100vh;
  margin-top: -110.5vh;
  margin-left: 9vw;
}
.container_trees_3 .tree_4:nth-of-type(2) {
  margin-left: 4vw;
}
.container_trees_3 .tree_4:nth-of-type(3) {
  margin-left: 38vw;
}
.round_table:nth-of-type(1) {
  margin-top: 15vh;
}
.cleaning_day:nth-of-type(3) {
  margin-top: 13vh;
  margin-left: 26.5vh;
}
.round_table:nth-of-type(4) {
  margin-top: 18vh;
  margin-left: -2.5vh;
}
.round_table:nth-of-type(5) {
  margin-top: 8vh;
  margin-left: -2vh;
}
.cleaning_day:nth-of-type(6) {
  margin-top: 16vh;
  margin-left: 5vh;
}
.cleaning_day:nth-of-type(7) {
  margin-top: 4vh;
  margin-left: -5vh;
}
.p_width_3 {
  margin-left: 0;
  width: 16vw;
}
.event_description {
  padding-top: 18vh;
  margin-left: 3.5vw;
}
#poster_1,
#poster_4 {
  width: 44vh;
  height: 67vh;
  margin-left: 3.5vw;
  position: relative;
}
#poster_2,
#poster_5 {
  width: 32vh;
  height: 48vh;
  margin-left: 2vw;
  position: relative;
}
#poster_3,
#poster_6 {
  width: 21vh;
  height: 32vh;
  margin-left: 3.5vw;
  position: relative;
}
.poster_1,
.poster_2,
.poster_3,
.poster_4,
.poster_5,
.poster_6 {
  width: 100%;
  height: auto;
  position: relative;
}
.next {
  cursor: pointer;
}
.slideNumber {
  display: none;
  position: absolute;
}
.date_time p:nth-of-type(2) {
  margin-left: 4vw;
}
.p_margin-top_4 {
  margin-top: 5vh;
}
.description label {
  margin-top: 3vh;
}
.p_margin-top_5 {
  margin-top: calc(53vh - 242px);
}
.p_margin-top_6 {
  margin-top: calc(53vh - 272px);
}
.events_tree {
  background: url(../images/events_tree.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 23vh;
  height: 102vh;
  z-index: 3;
  margin-left: 42vw;
  margin-top: -92vh;
}
