.excursion {
  height: 372vh;
}
.excursion section:nth-of-type(1) {
  background-color: #2542E5;
  height: 228vh;
}
.excursion section:nth-of-type(2) {
  background-color: #0019A8;
  height: 129vh;
}
.heading_excursion {
  background: url(../images/heading_6.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 52vh;
  height: 7vh;
}
.heading_book {
  background: url(../images/heading_7.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 97vh;
  height: 17.5vh;
}
.heading_excursion,
.heading_book {
  top: 7.5vh;
  margin-left: 3.5vw;
}
.plan_about,
.container_trees_2,
.rectangle_grid_long,
.slide_book_price,
.Ann_block,
.Ann_block_hover,
.Ann_block_mouseout,
.Artyom_block,
.Artyom_block_hover,
.Artyom_block_mouseout,
.Anatoliy_block,
.Anatoliy_block_hover,
.Anatoliy_block_mouseout,
.Peter_block,
.Peter_block_hover,
.Peter_block_mouseout,
.Julia_block,
.Julia_block_hover,
.Julia_block_mouseout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
.Ann_block,
.Ann_block_hover,
.Ann_block_mouseout,
.Artyom_block,
.Artyom_block_hover,
.Artyom_block_mouseout,
.Anatoliy_block,
.Anatoliy_block_hover,
.Anatoliy_block_mouseout,
.Peter_block,
.Peter_block_hover,
.Peter_block_mouseout,
.Julia_block,
.Julia_block_hover,
.Julia_block_mouseout {
  z-index: 99;
}
.plan_about {
  margin-left: 3.5vw;
  padding-top: 18vh;
}
.plan {
  background: url(../images/plan.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: relative;
  width: 97vh;
  height: 122vh;
  z-index: 0;
  margin-top: -96vh;
}
.plan_bw:after {
  content: "";
  background: url(../images/plan_bw_1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: relative;
  display: block;
  margin-top: -121.78vh;
  margin-left: 0.1vh;
  width: 96.8vh;
  height: 122vh;
  z-index: 99;
  opacity: 0;
}
.plan_piece_1,
.plan_piece_2,
.plan_piece_3,
.plan_piece_4,
.plan_piece_5,
.plan_piece_6,
.plan_piece_7 {
  z-index: 400;
  opacity: 0;
  cursor: url(../images/pointer.svg), auto;
  display: block;
}
.plan_piece_1 {
  position: relative;
  width: 42vh;
  height: 22vh;
}
.plan_piece_2 {
  position: relative;
  width: 42vh;
  height: 22vh;
}
.plan_piece_3 {
  position: relative;
  width: 42vh;
  height: 22vh;
}
.plan_piece_4 {
  position: relative;
  width: 42vh;
  height: 11vh;
}
.plan_piece_5 {
  position: relative;
  width: 42vh;
  height: 34vh;
}
.plan_piece_6 {
  position: relative;
  width: 53.5vh;
  height: 45vh;
  margin-left: 42vh;
  margin-top: -33.5vh;
}
.plan_piece_7 {
  position: relative;
  width: 21vh;
  height: 64vh;
  margin-top: -90vh;
  margin-left: 42vh;
}
.plan_piece_1:hover ~ .plan_bw:after {
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_2:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  margin-left: 0.1vh;
  width: 96.8vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_3:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  width: 96.8vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_4:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_4.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  width: 96.8vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_5:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_5.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  width: 96.7vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_6:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_6.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  margin-left: -0.1vh;
  width: 96.8vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.plan_piece_7:hover ~ .plan_bw:after {
  background: url(../images/plan_bw_7.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: absolute;
  margin-top: -121.78vh;
  margin-left: -0.1vh;
  width: 96.8vh;
  height: 122vh;
  opacity: 1;
  transition: 0.1s;
}
.tree_with_people {
  position: relative;
}
.Ann_block {
  position: relative;
  margin-left: 4vh;
  margin-top: -194vh;
  opacity: 0;
}
.Ann_text {
  animation: Ann_text infinite linear 5.5s;
  margin-left: 1.5vh;
  position: relative;
}
@keyframes Ann_text {
  0%{margin-left: 1.5vh;}
  25%{margin-left: -0.5vh;}
  50%{margin-left: 1.5vh;}
  75%{margin-left: 3.5vh;}
  100%{margin-left: 1.5vh;}
}
.Ann_text p:nth-of-type(1) {
  position: relative;
  margin-top: 4vh;
  z-index: 1000;
}
.Ann_text p:nth-of-type(1):before {
  content: "— ";
  position: absolute;
  margin-left: -2.5vh;
}
.Ann_text p:nth-of-type(2) {
  position: relative;
  margin-top: 2vh;
}
.Ann {
  background: url(../images/Ann.png);
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: top 0 left -9vh;
  position: relative;
  width: 25vh;
  height: 25vh;
  opacity: 1;
  transition: 0.1s;
  animation: Ann infinite linear 5.5s;
  z-index: 200;
}
@keyframes Ann {
  0%{transform: rotate(0deg); transform-origin: center 229vh;}
  25%{transform: rotate(-0.5deg); transform-origin: center 229vh;}
  50%{transform: rotate(0deg); transform-origin: center 229vh;}
  75%{transform: rotate(0.5deg); transform-origin: center 229vh;}
  100%{transform: rotate(0deg); transform-origin: center 229vh;}
}
.Ann_block_hover {
  animation: Ann_block_hover forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Ann_block_hover {
  0%{margin-left: 6vh; margin-top: -194vh; opacity: 0;}
  100%{margin-left: 8vh; margin-top: -196vh; opacity: 1;}
}
.Ann_block_mouseout {
  animation: Ann_block_mouseout forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Ann_block_mouseout {
  0%{margin-left: 8vh; margin-top: -196vh; opacity: 1;}
  100%{margin-left: 6vh; margin-top: -194vh; opacity: 0;}
}
.Artyom_block {
  position: relative;
  margin-left: -23vh;
  margin-top: -6vh;
  opacity: 0;
  z-index: 200;
}
.Artyom_text {
  animation: Artyom_text infinite linear 5.5s;
  margin-left: -1vh;
  position: relative;
}
@keyframes Artyom_text {
  0%{margin-left: -1vh;}
  25%{margin-left: -3vh;}
  50%{margin-left: -1vh;}
  75%{margin-left: 1vh;}
  100%{margin-left: -1vh;}
}
.Artyom_text p:nth-of-type(1) {
  position: relative;
  margin-top: 4vh;
  z-index: 1000;
}
.Artyom_text p:nth-of-type(1):before {
  content: "— ";
  position: absolute;
  margin-left: -2.5vh;
}
.Artyom_text p:nth-of-type(2) {
  position: relative;
  margin-top: 2vh;
}
.Artyom {
  background: url(../images/Artyom.png);
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  position: relative;
  width: 35vh;
  height: 40vh;
  opacity: 1;
  margin-left: -9vh;
  transition: 0.1s;
  animation: Artyom infinite linear 5.5s;
  z-index: 200;
}
@keyframes Artyom {
  0%{transform: rotate(0deg); transform-origin: center 40vh;}
  25%{transform: rotate(-0.5deg); transform-origin: center 40vh;}
  50%{transform: rotate(0deg); transform-origin: center 40vh;}
  75%{transform: rotate(0.5deg); transform-origin: center 40vh;}
  100%{transform: rotate(0deg); transform-origin: center 40vh;}
}
.Artyom_block_hover {
  animation: Artyom_block_hover forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Artyom_block_hover {
  0%{margin-left: -21vh; margin-top: -6vh; opacity: 0;}
  100%{margin-left: -23vh; margin-top: -8vh; opacity: 1;}
}
.Artyom_block_mouseout {
  animation: Artyom_block_mouseout forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Artyom_block_mouseout {
  0%{margin-left: -23vh; margin-top: -8vh; opacity: 1;}
  100%{margin-left: -21vh; margin-top: -6vh; opacity: 0;}
}
.Anatoliy_block {
  position: relative;
  margin-left: 10vh;
  margin-top: -26vh;
  opacity: 0;
}
.Anatoliy_text {
  animation: Anatoliy_text infinite linear 5.5s;
  margin-left: 1.5vh;
  position: relative;
}
@keyframes Anatoliy_text {
  0%{margin-left: 1.5vh;}
  25%{margin-left: -0.5vh;}
  50%{margin-left: 1.5vh;}
  75%{margin-left: 3.5vh;}
  100%{margin-left: 1.5vh;}
}
.Anatoliy_text p:nth-of-type(1) {
  position: relative;
  margin-top: 4vh;
  z-index: 1000;
}
.Anatoliy_text p:nth-of-type(1):before {
  content: "— ";
  position: absolute;
  margin-left: -2.5vh;
}
.Anatoliy_text p:nth-of-type(2) {
  position: relative;
  margin-top: 2vh;
}
.Anatoliy {
  background: url(../images/Anatoliy.png);
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: top 0 left -9vh;
  position: relative;
  width: 25vh;
  height: 35vh;
  opacity: 1;
  transition: 0.1s;
  animation: Anatoliy infinite linear 5.5s;
  z-index: 200;
}
@keyframes Anatoliy {
  0%{transform: rotate(0deg); transform-origin: center 229vh;}
  25%{transform: rotate(-0.5deg); transform-origin: center 229vh;}
  50%{transform: rotate(0deg); transform-origin: center 229vh;}
  75%{transform: rotate(0.5deg); transform-origin: center 229vh;}
  100%{transform: rotate(0deg); transform-origin: center 229vh;}
}
.Anatoliy_block_hover {
  animation: Anatoliy_block_hover forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Anatoliy_block_hover {
  0%{margin-left: 10vh; margin-top: -26vh; opacity: 0;}
  100%{margin-left: 12vh; margin-top: -28vh; opacity: 1;}
}
.Anatoliy_block_mouseout {
  animation: Anatoliy_block_mouseout forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Anatoliy_block_mouseout {
  0%{margin-left: 12vh; margin-top: -28vh; opacity: 1;}
  100%{margin-left: 10vh; margin-top: -26vh; opacity: 0;}
}
.Peter_block {
  position: relative;
  margin-left: -23vh;
  margin-top: -18vh;
  opacity: 0;
}
.Peter_text {
  animation: Peter_text infinite linear 5.5s;
  margin-left: -1vh;
  position: relative;
}
@keyframes Peter_text {
  0%{margin-left: -1vh;}
  25%{margin-left: -3vh;}
  50%{margin-left: -1vh;}
  75%{margin-left: 1vh;}
  100%{margin-left: -1vh;}
}
.Peter_text p:nth-of-type(1) {
  position: relative;
  margin-top: 6vh;
  z-index: 1000;
}
.Peter_text p:nth-of-type(1):before {
  content: "— ";
  position: absolute;
  margin-left: -2.5vh;
}
.Peter_text p:nth-of-type(2) {
  position: relative;
  margin-top: 2vh;
}
.Peter {
  background: url(../images/Peter.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: top 0 left 7vh;
  position: relative;
  width: 35vh;
  height: 45vh;
  opacity: 1;
  margin-left: -9vh;
  transition: 0.1s;
  animation: Peter infinite linear 5.5s;
  z-index: 200;
}
@keyframes Peter {
  0%{transform: rotate(0deg); transform-origin: center 40vh;}
  25%{transform: rotate(-0.5deg); transform-origin: center 40vh;}
  50%{transform: rotate(0deg); transform-origin: center 40vh;}
  75%{transform: rotate(0.5deg); transform-origin: center 40vh;}
  100%{transform: rotate(0deg); transform-origin: center 40vh;}
}
.Peter_block_hover {
  animation: Peter_block_hover forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Peter_block_hover {
  0%{margin-left: -23vh; margin-top: -18vh; opacity: 0;}
  100%{margin-left: -25vh; margin-top: -20vh; opacity: 1;}
}
.Peter_block_mouseout {
  animation: Peter_block_mouseout forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Peter_block_mouseout {
  0%{margin-left: -25vh; margin-top: -20vh; opacity: 1;}
  100%{margin-left: -23vh; margin-top: -18vh; opacity: 0;}
}
.Julia_block {
  position: relative;
  margin-left: 17vh;
  margin-top: -24vh;
  opacity: 0;
}
.Julia_text {
  animation: Julia_text infinite linear 5.5s;
  margin-left: -7vh;
  position: relative;
}
@keyframes Julia_text {
  0%{margin-left: -7vh;}
  25%{margin-left: -9vh;}
  50%{margin-left: -7vh;}
  75%{margin-left: -5vh;}
  100%{margin-left: -7vh;}
}
.Julia_text p:nth-of-type(1) {
  position: relative;
  margin-top: 4vh;
  z-index: 1000;
}
.Julia_text p:nth-of-type(1):before {
  content: "— ";
  position: absolute;
  margin-left: -2.5vh;
}
.Julia_text p:nth-of-type(2) {
  position: relative;
  margin-top: 2vh;
}
.Julia {
  background: url(../images/Julia.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left -9vh;
  position: relative;
  width: 25vh;
  height: 35vh;
  opacity: 1;
  transition: 0.1s;
  animation: Anatoliy infinite linear 5.5s;
  z-index: 200;
}
@keyframes Julia {
  0%{transform: rotate(0deg); transform-origin: center 229vh;}
  25%{transform: rotate(-0.5deg); transform-origin: center 229vh;}
  50%{transform: rotate(0deg); transform-origin: center 229vh;}
  75%{transform: rotate(0.5deg); transform-origin: center 229vh;}
  100%{transform: rotate(0deg); transform-origin: center 229vh;}
}
.Julia_block_hover {
  animation: Julia_block_hover forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Julia_block_hover {
  0%{margin-left: 17vh; margin-top: -24vh; opacity: 0;}
  100%{margin-left: 19vh; margin-top: -26vh; opacity: 1;}
}
.Julia_block_mouseout {
  animation: Julia_block_mouseout forwards linear 0.3s;
  transition: 0.1;
}
@keyframes Julia_block_mouseout {
  0%{margin-left: 19vh; margin-top: -26vh; opacity: 1;}
  100%{margin-left: 17vh; margin-top: -24vh; opacity: 0;}
}
.plan_text p {
  margin-top: -9vh;
}
.about {
  position: relative;
  margin-left: -31vw;
}
.container_trees_2 {
  position: absolute;
  height: 228vh;
  left: 47vw;
}
.container_trees_2 div {
  cursor: url(../images/pointer.svg), auto;
}
.tree_2_long {
  background: url(../images/tree_2_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 100;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
.tree_2_long_z {
  background: url(../images/tree_2_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 0;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
.tree_2_long_z_green {
  background: url(../images/tree_2_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 0;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
@keyframes tree_2_long_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(-0.5deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(0.5deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_2_long_green {
  background: url(../images/tree_2_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 100;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
.tree_4_long {
  background: url(../images/tree_4_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  position: relative;
  z-index: 100;
  animation: tree_4_long_move infinite linear 5s;
}
.tree_4_long_green {
  background: url(../images/tree_4_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  position: relative;
  z-index: 100;
  animation: tree_4_long_move infinite linear 5s;
}
.tree_4_long_z {
  background: url(../images/tree_4_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  position: relative;
  z-index: 0;
  animation: tree_4_long_move infinite linear 5s;
}
.tree_4_long_z_green {
  background: url(../images/tree_4_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  position: relative;
  z-index: 0;
  animation: tree_4_long_move infinite linear 5s;
}
@keyframes tree_4_long_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(0.5deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(-0.5deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_4_long_green {
  background: url(../images/tree_4_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  position: relative;
  z-index: 100;
  animation: tree_4_long_move infinite linear 5s;
}
.rectangle_grid_long {
  position: absolute;
  height: 228vh;
  left: 50vw;
}
.rectangle_long_2 {
  width: 28.5vh;
  height: 229vh;
  z-index: 600;
  position: relative;
}
.rectangle_long_4 {
  width: 18vh;
  height: 229vh;
  margin-left: 2vw;
  z-index: 600;
  position: relative;
}
.rectangle_grid_long div {
  cursor: url(../images/pointer.svg), auto;
}
.p_width_2 {
  width: 47vw;
  margin-left: 3.5vw;
  padding-top: 18vh;
}
.slide_renders {
  margin-left: 3.5vw;
  margin-top: 14vh;
}
.slide_renders_image {
  background: url(../images/slideshow_renders_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  width: 94vh;
  height: 62vh;
  position: relative;
  z-index: 1;
  animation: slideshow_renders infinite linear 25s;
}
@keyframes slideshow_renders {
  0% {background-position: top 0 left 0;}
  8.5% {background-position: top 0 left 0;}
  12.5% {background-position: top 0 left -94.5vh;}
  21% {background-position: top 0 left -94.5vh;}
  25% {background-position: top 0 left -189vh;}
  33.5% {background-position: top 0 left -189vh;}
  37.5% {background-position: top 0 left -283.5vh;}
  46% {background-position: top 0 left -283.5vh;}
  50% {background-position: top 0 left -378vh;}
  58.5% {background-position: top 0 left -378vh;}
  62.5% {background-position: top 0 left -472.5vh;}
  71% {background-position: top 0 left -472.5vh;}
  75% {background-position: top 0 left -567vh;}
  83.5% {background-position: top 0 left -567vh;}
  87.5% {background-position: top 0 left -661.5vh;}
  96% {background-position: top 0 left -661.5vh;}
  100% {background-position: top 0 left -756vh;}
}
.slide_renders p:after {
  content: "";
  margin-top: -24px;
  animation: text_change_1 infinite ease-in 25s;
}
@keyframes text_change_1 {
  0% {content: "Регистратура";}
  8.5% {content: "Регистратура";}
  12.5% {content: "Диагностическое отделение";}
  21% {content: "Диагностическое отделение";}
  25% {content: "Хирургическое отделение";}
  33.5% {content: "Хирургическое отделение";}
  37.5% {content: "Реанимация";}
  46% {content: "Реанимация";}
  50% {content: "Стационар для тенелюбивых видов";}
  58.5% {content: "Стационар для тенелюбивых видов";}
  62.5% {content: "Стационар для светолюбивых видов";}
  71% {content: "Стационар для светолюбивых видов";}
  75% {content: "Стационар для тех, кто любит средний свет";}
  83.5% {content: "Стационар для тех, кто любит средний свет";}
  87.5% {content: "Зона подкормки";}
  96% {content: "Зона подкормки";}
  100% {content: "Регистратура";}
}
.excursion section:nth-of-type(2) {
  z-index: 300;
}
.slide_book_price {
  margin-top: 6vh;
  margin-left: 3.5vw;
}
.slide_renders p,
.slide_book p {
  margin-top: 2.5vh;
}
.slide_book_image {
  background: url(../images/slideshow_book_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  width: 94vh;
  height: 62vh;
  position: relative;
  animation: slideshow_book infinite linear 25s;
}
@keyframes slideshow_book {
  0% {background-position: top 0 left 0;}
  8.5% {background-position: top 0 left 0;}
  12.5% {background-position: top 0 left -94.5vh;}
  21% {background-position: top 0 left -94.5vh;}
  25% {background-position: top 0 left -189vh;}
  33.5% {background-position: top 0 left -189vh;}
  37.5% {background-position: top 0 left -283vh;}
  46% {background-position: top 0 left -283vh;}
  50% {background-position: top 0 left -378vh;}
  58.5% {background-position: top 0 left -378vh;}
  62.5% {background-position: top 0 left -472vh;}
  71% {background-position: top 0 left -472vh;}
  75% {background-position: top 0 left -565.6vh;}
  83.5% {background-position: top 0 left -565.6vh;}
  87.5% {background-position: top 0 left -660.5vh;}
  96% {background-position: top 0 left -660.5vh;}
  100% {background-position: top 0 left -756vh;}
}
.price {
  margin-left: 4.5vw;
  margin-top: calc(60vh - 60px);
}
.price .order {
  margin-top: 3vh;
}
