.excursion {
  height: 372vh;
}
.excursion section:nth-of-type(1) {
  background-color: #2542E5;
  height: 228vh;
}
.excursion section:nth-of-type(2) {
  background-color: #0019A8;
  height: 129vh;
}
.heading_excursion {
  background: url(../images/heading_6.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 52vh;
  height: 7vh;
  top: 7.5vh;
  margin-left: 3.5vw;
}
.heading_book {
  background: url(../images/heading_7.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 97vh;
  height: 17.5vh;
  top: 7.5vh;
  margin-left: 3.5vw;
}
.plan_about,
.container_trees_2,
.rectangle_grid_long,
.slide_book_price {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
.plan_about {
  margin-left: 3.5vw;
  padding-top: 18vh;
}
.plan {
  background: url(../images/plan.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 0 left -0.5vh;
  position: relative;
  width: 97vh;
  height: 122vh;
  z-index: 1;
}
.plan_text p {
  margin-top: -9vh;
}
.about {
  position: relative;
  margin-left: -31vw;
}
.container_trees_2 {
  position: absolute;
  height: 228vh;
  left: 50vw;
}
.container_trees_2 div {
  cursor: url(../images/pointer.svg), auto;
}
.tree_2_long {
  background: url(../images/tree_2_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 100;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
@keyframes tree_2_long_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(-1.5deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(1.5deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_2_long_green {
  background: url(../images/tree_2_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 229vh;
  z-index: 100;
  position: relative;
  animation: tree_2_long_move infinite linear 5.5s;
}
.tree_4_long {
  background: url(../images/tree_4_long.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 5vw;
  position: relative;
  z-index: 100;
  animation: tree_4_long_move infinite linear 7s;
}
@keyframes tree_4_long_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(3deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(-3deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_4_long_green {
  background: url(../images/tree_4_long_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 229vh;
  margin-left: 5vw;
  position: relative;
  z-index: 100;
  animation: tree_4_long_move infinite linear 7s;
}
.rectangle_grid_long {
  z-index: 100;
  position: absolute;
  height: 228vh;
  left: 50vw;
}
.rectangle_long_2 {
  width: 28.5vh;
  height: 229vh;
  z-index: 100;
  position: relative;
}
.rectangle_long_4 {
  width: 18vh;
  height: 229vh;
  margin-left: 5vw;
  z-index: 100;
  position: relative;
}
.rectangle_grid_long div {
  cursor: url(../images/pointer.svg), auto;
}
.z {
  z-index: 0;
}
.p_width_2 {
  width: 47vw;
  margin-left: 3.5vw;
  padding-top: 18vh;
}
.slide_renders {
  margin-left: 3.5vw;
  margin-top: 14vh;
}
.slide_renders_image {
  background: url(../images/slideshow_renders_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  width: 94vh;
  height: 62vh;
  position: relative;
  z-index: 1;
  animation: slideshow_renders infinite linear 20s;
}
@keyframes slideshow_renders {
  0% {background-position: top 0 left 0;}
  10.3% {background-position: top 0 left 0;}
  14.3% {background-position: top 0 left -94.5vh;}
  24.6% {background-position: top 0 left -94.5vh;}
  28.6% {background-position: top 0 left -189vh;}
  38.9% {background-position: top 0 left -189vh;}
  42.9% {background-position: top 0 left -283.5vh;}
  53.2% {background-position: top 0 left -283.5vh;}
  57.2% {background-position: top 0 left -378vh;}
  67.5% {background-position: top 0 left -378vh;}
  71.4% {background-position: top 0 left -472.5vh;}
  81.7% {background-position: top 0 left -472.5vh;}
  85.7% {background-position: top 0 left -567vh;}
  96% {background-position: top 0 left -567vh;}
  100% {background-position: top 0 left -661.5vh;}
}
.slide_renders p:after {
  content: "";
  margin-top: -24px;
  animation: text_change_1 infinite ease-in 20s;
}
@keyframes text_change_1 {
  0% {content: "Регистратура";}
  10.3% {content: "Регистратура";}
  14.3% {content: "Диагностическое отделение";}
  24.6% {content: "Диагностическое отделение";}
  28.6% {content: "Хирургическое отделение";}
  38.9% {content: "Хирургическое отделение";}
  42.9% {content: "Реанимация";}
  53.2% {content: "Реанимация";}
  57.2% {content: "Стационар для тенелюбивых видов";}
  67.5% {content: "Стационар для тенелюбивых видов";}
  71.4% {content: "Стационар для светолюбивых видов";}
  81.7% {content: "Стационар для светолюбивых видов";}
  85.7% {content: "зона подкормки";}
  96% {content: "зона подкормки";}
  100% {content: "Регистратура";}
}
.excursion section:nth-of-type(2) {
  z-index: 300;
}
.slide_book_price {
  margin-top: 6vh;
  margin-left: 3.5vw;
}
.slide_renders p,
.slide_book p {
  margin-top: 2.5vh;
}
.slide_book_image {
  background: url(../images/slideshow_renders_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  width: 94vh;
  height: 62vh;
  position: relative;
}
.price {
  margin-left: 4.5vw;
  margin-top: calc(59vh - 60px);
}
.price .order {
  margin-top: 3vh;
}
/* .order a {
  padding-left: 2vh;
  font-size: 26px;
  line-height: 30px;
  margin-top: 0;
  cursor: url(../images/pointer.svg), auto;
} */
