/* Подвал */
footer {
  height: 11vh;
}
.footer {
  margin-top: calc((11vh - 36px)/2);
  width: 95.5vw;
  height: 72px;
  margin-left: 2vw;
  justify-content: space-around;
}
footer p:nth-of-type(1) {
  margin-top: 30px; /* выравнивание текста в первой колонке */
}
.footer img:nth-of-type(1) {
  margin-left: 10vw; /* расположение логотипа HSE */
}
.footer img:nth-of-type(2),
.footer p:nth-of-type(2) {
  margin-left: 3.4vw; /* расположение логотипа клиники и адресного блока */
}
.footer p:nth-of-type(3) {
  margin-left: 3.4vw; /* расположение текста в последней колонке */
}
footer p:nth-of-type(3) {
  font-size: 16px;
  line-height: 18px;
  width: 30vw; /* стилизация текста в последней колонке */
}
