.form {
  height: 116vh;
}
.form section {
  background-color: #0019A8;
}
.form_grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  margin-left: 3.5vw;
  position: relative;
  }
}
.form_type {
  width: 30vw;
  height: 50vh;
  display: block;
  position: relative;
  background-color: #2542E5;
  z-index: 100;
}
form p {
  margin-top: 7px;
  opacity: 50%;
}
/* input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
} */
input {
  all: unset;
  border: none;
  outline: none;
  border-bottom: 3px solid white;
  background: none;
  color: white;
  font-size: 26px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tree_1_blue {
  background: url(../images/tree_1_blue.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 25vh;
  height: 100vh;
  display: block;
  z-index: 3;
}
.rectangle_color {
  background-color: #0019A8;
}
