body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'CSTM Xprmntl 02', sans-serif;
  margin: 0 auto;
  background-color: #0019A8;
  display: block;
  position: relative;
}
.main {
  width: 100vw;
  height: 516vh;
  background-color: #2542E5;
  margin: 0 auto;
  display: block;
  position: relative;
}
p {
  font-size: 26px;
  line-height: 30px;
  color: white;
}
a {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 3.5vh;
}
.text_small {
  font-size: 20px;
  line-height: 24px;
}
.menubar {
  position: fixed;
  width: 102px;
  height: 25vh;
  right: 2.5vw;
  top: 4vh;
  z-index: 100;
  display: block;
}
.menubar a:nth-of-type(1) {
  margin-top: 0;
}
section {
  height: 100vh;
  position: relative;
}
section:nth-of-type(2),
section:nth-of-type(5) {
  background-color: #0019A8;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_bonus,
.grid_5 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  margin-left: 3.5vw;
  position: relative;
}
.heading_1 {
  background: url(../images/heading_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  background-position: top 0px left 0px;
  z-index: 100;
  width: 148vh;
  height: 90vh;
  top: 4vh;
  left: 2.5vw;
}
.container_trees {
    width: 150vh;
    height: 100vh;
		/* max-width: 1248px; */
		left: 4.3vw;
		/* margin-top: 15px; */
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: start;
    position: relative;
}
.tree_1 {
  background: url(../images/tree_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 25vh;
  height: 100vh;
  display: block;
  z-index: 3;
}
.tree_2 {
  background: url(../images/tree_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 100vh;
  display: block;
  z-index: 3;
}
.tree_3 {
  background: url(../images/tree_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 48vh;
  height: 100vh;
  display: block;
  z-index: 3;
}
.tree_4 {
  background: url(../images/tree_4.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 100vh;
  display: block;
  z-index: 3;
}
.container_trees div:nth-of-type(2) {
  margin-left: 1.3vw;
}
.container_trees div:nth-of-type(3) {
  margin-left: 5.4vw;
}
.container_trees div:nth-of-type(4) {
  margin-left: 7vw;
}
section:nth-of-type(1) p {
  margin-top: -6.5vh;
  margin-left: 2vw;
}
.grid_1 {
  align-items: center;
  padding-top: 1vh;
  height: 20vh;
}
.deg {
  background: url(../images/deg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 23vh;
  height: 10vh;
  display: block;
  margin-left: 3.5vw;
}
section:nth-of-type(2) p:nth-of-type(2) {
  margin-left: 3.5vw;
}
.heading_2 {
  background: url(../images/heading_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: top 0px left 0px;
  z-index: 3;
  width: 56vh;
  height: 27vh;
  margin-top: -72vh;
  margin-left: 3.5vw;
}
.grid_2 {
  margin-top: 2.2vh;
  height: 80vh;
  margin-bottom: 0;
}
.pain_1 {
  background: url(../images/pain_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 30vh;
  height: 77vh;
  display: block;
  z-index: 3;
  margin-left: 24vh;
}
.hole_1 {
  width: 5vw;
}
.pain_2 {
  background: url(../images/pain_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 27vh;
  height: 77vh;
  display: block;
  z-index: 3;
}
.hole_2 {
  width: 10.5vw;
}
.pain_3 {
  background: url(../images/pain_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 77vh;
  display: block;
  z-index: 3;
}
.grid_2 p {
  z-index: 4;
  position: relative;
}
#pain_block_1 p,
#pain_block_3 p {
  margin-top: -15vh;
}
#pain_block_2 p {
  margin-top: -33vh;
  margin-left: -4.5vw;
}
#pain_block_3 p {
  margin-left: -14.5vw;
}
.grid_3 {
  margin-top: 5vh;
  height: 10vh;
}
.cell_1,
.cell_2 {
  display: flex;
  align-items: baseline;
}
.cell_2,
.hole_3 {
  margin-left: 14vw;
}
.services {
  background: url(../images/services.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 33vh;
  height: 9vh;
  display: block;
  z-index: 3;
}
.grid_4 {
  margin-top: 13vh;
}
.grid_4 p {
  text-align: center;
}
.hospitals,
.cabinets {
  display: flex;
  flex-wrap: wrap;
}
.hospitals {
  width: 50vh;
  height: 50vh;
  min-width: 447px;
}
.cabinets {
  width: 43vh;
  height: 50vh;
}
.hospitals p,
.cabinets p {
  margin-top: 1.5vh;
}
.hospital_1 {
  background: url(../images/hospital_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 19vh;
  height: 21vh;
  display: block;
}
#hospital_block_2 {
  margin-left: 5.5vh;
  margin-top: 3vh;
}
.hospital_2 {
  background: url(../images/hospital_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 24vh;
  height: 14vh;
  display: block;
}
#hospital_block_3 {
  margin-top: 3vh;
}
.hospital_3 {
  background: url(../images/hospital_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 50vh;
  height: 10vh;
  display: block;
}
#cabinet_block_1,
#cabinet_block_2 {
  margin-top: 6vh;
}
.cabinet_1 {
  background: url(../images/cabinet_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 14vh;
  height: 12vh;
  display: block;
}
#cabinet_block_2 {
  margin-left: 5.5vh;
}
.cabinet_2 {
  background: url(../images/cabinet_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 11vh;
  height: 12vh;
  display: block;
}
#cabinet_block_3 {
  margin-top: 5vh;
}
.cabinet_3 {
  background: url(../images/cabinet_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 30.5vh;
  height: 10vh;
  display: block;
}
.grid_bonus {
  margin-top: 13vh;
  align-items: center;
}
.tria {
  background: url(../images/tria.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 2vh;
  height: 2vh;
  display: block;
}
.grid_bonus p {
  padding-left: 2vh;
}
.doctor_1 {
  background: url(../images/doctor_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 60vh;
  height: 50vh;
  display: block;
  margin-top: -60vh;
  transform: rotate(42deg);
}
.heading_3 {
  background: url(../images/heading_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 60vh;
  height: 9vh;
  display: block;
  padding-top: 8.9vh;
  margin-left: 3.5vw;
  z-index: 100;
}
.grid_5 {
  margin-top: -17.8vh;
}
