.main_page {
  width: ;
  height: 523vh;
  background-color: #2542E5;
  margin: 0 auto;
  position: relative;
}
/* Разделы */
section {
  height: 100vh;
  position: relative;
}
section:nth-of-type(2),
section:nth-of-type(5) {
  background-color: #0019A8;
}
/* Флексы */
.weather,
.types_of_pain,
.heading_for_services,
.types_of_services,
.get_bonus,
.names_of_doctors,
.map_and_text,
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  margin-left: 3.5vw;
  position: relative;
}
/* Стартовая страница */
.heading_start {
  background: url(../images/heading_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  width: 153vh;
  height: 90vh;
  top: 4vh;
  left: 2.5vw;
}
.container_trees {
  width: 150vh;
  height: 102vh;
	left: 3.3vw;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: start;
  position: relative;
}
.tree_1 {
  background: url(../images/tree_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 25vh;
  height: 102vh;
  z-index: 3;
}
.tree_1_green {
  background: url(../images/tree_1_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 25vh;
  height: 102vh;
  z-index: 3;
}
.tree_1_move {
  animation: tree_1_move infinite linear 3s;
}
@keyframes tree_1_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(-4deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(4deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_2 {
  background: url(../images/tree_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 102vh;
  z-index: 3;
}
.tree_2_move {
  animation: tree_2_move infinite linear 5s;
}
@keyframes tree_2_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(-2deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(2deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_2_green {
  background: url(../images/tree_2_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 28.5vh;
  height: 102vh;
  z-index: 3;
}
.tree_3 {
  background: url(../images/tree_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 48vh;
  height: 102vh;
  z-index: 3;
}
.tree_3_move {
  animation: tree_3_move infinite linear 4s;
}
@keyframes tree_3_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(3deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(-3deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_3_green {
  background: url(../images/tree_3_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 48vh;
  height: 102vh;
  z-index: 3;
}
.tree_4 {
  background: url(../images/tree_4.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 102vh;
  z-index: 3;
}
.tree_4_move {
  animation: tree_3_move infinite linear 3s;
}
@keyframes tree_4_move {
  0%{transform: rotate(0deg); transform-origin: center bottom;}
  25%{transform: rotate(3deg); transform-origin: center bottom;}
  50%{transform: rotate(0deg); transform-origin: center bottom;}
  75%{transform: rotate(-3deg); transform-origin: center bottom;}
  100%{transform: rotate(0deg); transform-origin: center bottom;}
}
.tree_4_green {
  background: url(../images/tree_4_green.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 102vh;
  z-index: 3;
}
.container_trees div {
  cursor: url(../images/pointer.svg), auto;
}
.container_trees div:nth-of-type(2) {
  margin-left: 2.2vw;
}
.container_trees div:nth-of-type(3) {
  margin-left: 4.8vw;
}
.container_trees div:nth-of-type(4) {
  margin-left: 7vw;
}
.p_start {
  margin-top: -8vh;
  margin-left: 2vw;
}
.rectangle_grid {
  width: 150vh;
  height: 100vh;
  left: 3.3vw;
  margin-top: -97vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;;
  z-index: 100;
}
.rectangle_transparent_1 {
  width: 25vh;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.rectangle_transparent_2 {
  width: 28.5vh;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.rectangle_transparent_3 {
  width: 48vh;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.rectangle_transparent_4 {
  width: 18vh;
  height: 100vh;
  position: relative;
  z-index: 100;
}
.rectangle_grid div {
  cursor: url(../images/pointer.svg), auto;
}
.rectangle_grid div:nth-of-type(2) {
  margin-left: 1.3vw;
}
.rectangle_grid div:nth-of-type(3) {
  margin-left: 5.4vw;
}
.rectangle_grid div:nth-of-type(4) {
  margin-left: 7vw;
}
/* @keyframes layer_1 {
  0% {z-index: 3;}
  100% {z-index: 5;}
} */
.layer {
  z-index: 99;
}
/* Памятка */
.main_page section:nth-of-type(2) {
  z-index: 300;
}
.weather {
  align-items: center;
  padding-top: 1vh;
  height: 20vh;
}
.deg {
  background: url(../images/deg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 23vh;
  height: 10vh;
  margin-left: 3.5vw;
}
.weather p:nth-of-type(2) {
  margin-left: 3.5vw;
}
.heading_pain {
  background: url(../images/heading_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: top 0px left 0px;
  z-index: 3;
  width: 56vh;
  height: 27vh;
  margin-top: -72vh;
  margin-left: 3.5vw;
}
.types_of_pain {
  margin-top: 2.2vh;
  height: 80vh;
  margin-bottom: 0;
}
.pain_1 {
  background: url(../images/pain_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 30vh;
  height: 77vh;
  z-index: 3;
  margin-left: 24vh;
}
.gap_1 {
  width: 5vw;
}
.pain_2 {
  background: url(../images/pain_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 27vh;
  height: 77vh;
  z-index: 3;
}
.gap_2 {
  width: 10.5vw;
}
.pain_3 {
  background: url(../images/pain_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom 0 right 0;
  width: 18vh;
  height: 77vh;
  z-index: 3;
}
.types_of_pain p {
  z-index: 4;
  position: relative;
}
.pain_block_1 p,
.pain_block_3 p {
  margin-top: -15vh; /* расположение подписей к картинкам */
}
.pain_block_2 p {
  margin-top: -33vh;
  margin-left: -4.5vw; /* расположение подписей к картинкам */
}
.pain_block_3 p {
  margin-left: -14.5vw; /* расположение подписей к картинкам */
}
/* Услуги */
.heading_for_services {
  margin-top: 7.5vh;
  height: 10vh;
}
.heading_for_services_1,
.heading_for_services_2 {
  display: flex;
  align-items: baseline;
}
.heading_for_services_2 {
  margin-left: 14vw;
}
.gap_4 {
  width: 16vw;
}
.services {
  background: url(../images/services.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 33vh;
  height: 6.5vh;
  z-index: 3;
}
.types_of_services {
  margin-top: 13vh;
}
.types_of_services p {
  text-align: center;
}
.hospitals,
.cabinets {
  display: flex;
  flex-wrap: wrap;
}
.hospitals {
  width: 50vh;
  height: 50vh;
  min-width: 447px;
}
.cabinets {
  width: 43vh;
  height: 50vh;
}
.hospitals p,
.cabinets p {
  margin-top: 1.5vh;
}
.hospital_1 {
  background: url(../images/hospital_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 19vh;
  height: 21vh;
}
.hospital_block_2 {
  margin-top: 3vh;
  margin-left: 5.5vh;
}
.hospital_2 {
  background: url(../images/hospital_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 24vh;
  height: 14vh;
}
.hospital_block_3 {
  margin-top: 3vh;
}
.hospital_3 {
  background: url(../images/hospital_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 50vh;
  height: 10vh;
}
.cabinet_block_1,
.cabinet_block_2 {
  margin-top: 6vh;
}
.cabinet_1 {
  background: url(../images/cabinet_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 14vh;
  height: 12vh;
}
.cabinet_block_2 {
  margin-left: 5.5vh;
}
.cabinet_2 {
  background: url(../images/cabinet_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 11vh;
  height: 12vh;
}
.cabinet_block_3 {
  margin-top: 5vh;
}
.cabinet_3 {
  background: url(../images/cabinet_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  margin: 0 auto;
  width: 30.5vh;
  height: 10vh;
}
.get_bonus {
  margin-top: 9vh;
  align-items: center;
  cursor: url(../images/pointer.svg), auto;
}
.tria {
  background: url(../images/tria.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 2vh;
  height: 2vh;
  cursor: url(../images/pointer.svg), auto;
}
.get_bonus a {
  padding-left: 2vh;
  font-size: 26px;
  line-height: 30px;
  margin-top: 0;
  cursor: url(../images/pointer.svg), auto;
}
/* Врачи */
.names_of_doctors {
  margin-top: -18vh;
}
.heading_doctors {
  background: url(../images/heading_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 60vh;
  height: 7vh;
  padding-top: 11vh;
  margin-left: 3.5vw;
  z-index: 100;
}
.doctor_1 {
  background: url(../images/doctor_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 65vh;
  height: 52vh;
  margin-top: -68.5vh;
  margin-left: -8vh;
  transform: rotate(44deg);
}
.doctor_block_1 p {
  margin-top: 1vh;
  margin-left: 17vh; /* расположение подписей к картинкам */
}
.rectangle {
  width: 20vh;
  height: 30vh;
  margin-top: -28vh;
  margin-left: -6vh;
  background-color: #2542E5;
  z-index: 2;
  position: relative;
}
.gap_5 {
  width: 3vw;
}
.doctor_2 {
  background: url(../images/doctor_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 65vh;
  height: 52vh;
  margin-top: -85vh;
  margin-left: -28.5vh;
  transform: rotate(-16deg);
}
.doctor_block_2 div:nth-of-type(1) {
  margin-top: 1vh; /* выравнивание дерева */
}
.doctor_block_2 div:nth-of-type(3) {
  width: 14.5vh;
  height: 40vh;
  margin-top: -40vh;
  margin-left: 12vh; /* скрытие части картинки с доктором */
}
.p_position_main_page_2 {
  margin-top: 1vh;
  margin-left: -21.5vh; /* расположение подписей к картинкам */
}
.doctor_3 {
  background: url(../images/doctor_3.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 65vh;
  height: 52vh;
  margin-top: -88vh;
  margin-left: -28vh;
  transform: rotate(-28deg);
  z-index: 2;
}
.doctor_block_3 {
  margin-left: -3vw;
}
.doctor_block_3 div:nth-of-type(1) {
  z-index: 4; /* перекрытие деревом */
}
.doctor_block_3 p {
  margin-top: 22.5vh;
  margin-left: 22.5vh; /* расположение подписей к картинкам */
}
/* Карта */
.map_and_text {
  margin-left: 0;
  margin-top: -4vh;
}
.heading_map {
  background: url(../images/heading_4.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 75vh;
  height: 7vh;
  top: 7.5vh;
  margin-left: 3.5vw;
  z-index: 100;
}
.map {
  background: url(../images/map.svg);
  background-size: 128%;
  background-repeat: no-repeat;
  position: relative;
  background-position: top -4vh left -22.6vh;
  width: 71vh;
  height: 109vh;
  top: -9vh;
}
.text_about_map {
  margin-left: 2vw;
}
.text_about_map p {
  margin-top: 34vh; /* расположение текста о карте */
}
.text_about_map li:nth-of-type(1) span img {
  vertical-align: middle; /* выравнивание значка метро в строке */
}
.p_width_1 {
  width: 33vw;
}
.p_margin-left {
  margin-left: 3.5vw;
}
