@media all and (min-device-width: 1920px) {
  .tree_1 {
    width: 25vh;
  }
  .tree_2 {
    width: 28.5vh;
  }
  .tree_3 {
    width: 48vh;
  }
  .tree_4 {
    width: 18vh;
  }
}
@media all and (max-device-height: 899px) {
  .menubar {
    right: 3.5vw;
  }
  a {
    margin-top: 3.5vh;
  }
  .weather,
  .types_of_pain,
  .heading_for_services,
  .types_of_services,
  .get_bonus,
  .footer,
  .deg,
  section:nth-of-type(2) p:nth-of-type(2),
  .heading_pain,
  .heading_doctors,
  .heading_map,
  .heading_form,
  .form_grid,
  .heading_shop,
  .product {
    margin-left: 6vw;
  }
  .heading_start {
    left: 3.5vw;
  }
  .container_trees,
  .rectangle_grid {
  	left: 6.1vw;
  }
  .names_of_doctors {
    margin-left: 6.1vw;
  }
  .p_start {
    margin-left: 3.5vw;
  }
  #map {
    background-size: 107.5%;
    background-position: top -10vh left -9.5vh;
    width: 90vh;
  }
  #text_about_map {
    margin-left: 3vw;
  }
  .footer {
    width: 92.5vw;
    margin-left: 3.5vw;
  }
  label:nth-of-type(8) {
    margin-top: 7vh;
  }
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=date] {
    padding-top: 3.8vh;
  }
  .p_position_form {
    margin-top: -5.2vh;
  }
  .product {
    height: 63vh;
    padding-top: 10vh;
  }
  .product_padding-top {
    padding-top: 20vh;
  }
  .product_2 {
    margin-left: 6vw;
  }
}
