@media all and (min-device-width: 1920px) {
  .tree_1 {
    width: 25vh;
  }
  .tree_2 {
    width: 28.5vh;
  }
  .tree_3 {
    width: 48vh;
  }
  .tree_4 {
    width: 18vh;
  }
}
@media all and (max-device-height: 899px) {
  .menubar {
    right: 3.5vw;
  }
  a {
    margin-top: 3.5vh;
  }
  .weather,
  .types_of_pain,
  .heading_for_services,
  .types_of_services,
  .get_bonus,
  .footer,
  .heading_pain,
  .heading_doctors,
  .heading_map,
  .heading_form,
  .form_grid,
  .heading_shop,
  .product,
  .heading_excursion,
  .heading_book,
  .plan_about,
  .slide_renders,
  .slide_book_price,
  .p_width_2,
  .heading_events,
  .heading_announcements,
  .event_and_about {
    margin-left: 6vw;
  }
  .heading_start {
    left: 3.5vw;
  }
  .container_trees,
  .rectangle_grid {
  	left: 6.1vw;
  }
  .names_of_doctors {
    margin-left: 6.1vw;
  }
  .p_start {
    margin-left: 3.5vw;
    margin-top: -7.5vh;
  }
  #map {
    background-size: 107.5%;
    background-position: top -10vh left -9.5vh;
    width: 90vh;
  }
  #text_about_map {
    margin-left: 3vw;
  }
  .footer {
    width: 92.5vw;
    margin-left: 3.5vw;
  }
  label:nth-of-type(8) {
    margin-top: 7vh;
  }
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=date] {
    padding-top: 3.8vh;
  }
  .p_position_form {
    margin-top: -5.2vh;
  }
  .product {
    height: 63vh;
    padding-top: 9vh;
  }
  .product_padding-top {
    padding-top: 22.5vh;
  }
  .price_and_order_1 {
    margin-left: calc(34.8vh - 199.7px);
  }
  .price_and_order_2 {
    margin-left: calc(34.8vh - 231.1px);
  }
  .price_and_order_3 {
    margin-left: calc(34.8vh - 231.4px);
  }
  .price_and_order_4 {
    margin-left: calc(34.8vh - 230px);
  }
  .price_and_order_5 {
    margin-left: calc(34.8vh - 201.2px);
  }
  .price_and_order_6 {
    margin-left: calc(34.8vh - 216.2px);
  }
  .shop .order {
    padding-left: 2.5vh;
  }
  .order_margin-top_1 {
    margin-top: 13vh;
  }
  .order_margin-top_2 {
    margin-top: 5.5vh;
  }
  .order_margin-top_3 {
    margin-top: 4vh;
  }
  .container_trees_2 {
    z-index: 3;
    position: absolute;
    height: 230vh;
    left: 53vw;
  }
  .slideshow_renders {
    margin-top: 13vh;
  }
  .about {
    position: relative;
    margin-left: -20vw;
  }
  .slideshow_renders {
    margin-top: 13vh;
  }
  .p_width_2 {
    padding-top: 16vh;
  }
  .slideshow_book_and_price {
    margin-top: 4.5vh;
  }
  .calendar {
    margin-left: 9vh;
  }
  .calendar_tree {
    background-position: top 0 left -16vh;
    margin-left: -9vh;
  }
  .date_2 {
    margin-left: 7vh;
  }
  .date_3 {
    margin-left: 7vh;
  }
  .date_4 {
    margin-left: 8.5vh;
  }
  .date_5 {
    margin-left: 4.5vh;
  }
  .date_6 {
    margin-left: 3.5vh;
  }
  .date_7 {
    margin-left: 1.5vh;
  }
  .cleaning_day:nth-of-type(3) {
    margin-left: 23.5vh;
  }
  .round_table:nth-of-type(4) {
    margin-left: -6vh;
  }
  .round_table:nth-of-type(5) {
    margin-left: -4.5vh;
  }
  .cleaning_day:nth-of-type(6) {
    margin-left: 2vh;
  }
  .cleaning_day:nth-of-type(7) {
    margin-left: -8.5vh;
  }
}
