@media all and (max-device-height: 899px) {
  .menubar {
    right: 3.5vw;
  }
  a {
    margin-top: 3.5vh;
  }
  .weather,
  .types_of_pain,
  .heading_for_services,
  .types_of_services,
  .get_bonus,
  .footer,
  .heading_pain,
  .heading_doctors,
  .heading_map,
  .heading_form,
  .form_grid,
  .heading_shop,
  .product,
  .heading_excursion,
  .heading_book,
  .plan_about,
  .slide_renders,
  .slide_book_price,
  .p_width_2,
  .heading_events,
  .heading_announcements,
  .event_description {
    margin-left: 6vw;
  }
  .heading_start {
    left: 3.5vw;
  }
  .container_trees,
  .rectangle_grid {
  	left: 6.1vw;
  }
  .get_bonus,
  .order {
    margin-top: 12vh;
  }
  .names_of_doctors {
    margin-left: 6.1vw;
  }
  .doctor_1 {
    margin-left: -12vh;
  }
  .doctor_2 {
    margin-left: -27vh;
  }
  .doctor_block_1 p {
    margin-top: -2vh;
  }
  .doctor_block_3 p {
    margin-top: 21.5vh;
  }
  .p_start {
    margin-left: 3.5vw;
    margin-top: -9vh;
  }
  #map {
    background-size: 107.5%;
    background-position: top -10vh left -9.5vh;
    width: 90vh;
  }
  #text_about_map {
    margin-left: 3vw;
  }
  .footer {
    width: 92.5vw;
    margin-left: 3.5vw;
  }
  label:nth-of-type(8) {
    margin-top: 7vh;
  }
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=date] {
    padding-top: 3.8vh;
  }
  .p_position_form {
    margin-top: 78vh;
  }
  .product {
    height: 63vh;
    padding-top: 9vh;
  }
  .product_padding-top {
    padding-top: 22.5vh;
  }
  .price_and_order_1 {
    margin-left: calc(34.8vh - 199.7px);
  }
  .price_and_order_2 {
    margin-left: calc(34.8vh - 231.1px);
  }
  .price_and_order_3 {
    margin-left: calc(34.8vh - 231.4px);
  }
  .price_and_order_4 {
    margin-left: calc(34.8vh - 230px);
  }
  .price_and_order_5 {
    margin-left: calc(34.8vh - 201.2px);
  }
  .price_and_order_6 {
    margin-left: calc(34.8vh - 216.2px);
  }
  .shop .order {
    padding-left: 2.5vh;
  }
  .order_margin-top_1 {
    margin-top: 13vh;
  }
  .order_margin-top_2 {
    margin-top: 6vh;
  }
  .order_margin-top_3 {
    margin-top: 4.5vh;
  }
  .container_trees_2 {
    z-index: 3;
    position: absolute;
    height: 230vh;
    left: 53vw;
  }
  .tree_4_long {
    margin-left: 27vw;
  }
  .Ann_block {
    position: relative;
    margin-left: 7vh;
    margin-top: -196vh;
    opacity: 0;
  }
  @keyframes Ann {
    0%{transform: rotate(0deg); transform-origin: center 229vh;}
    25%{transform: rotate(-0.5deg); transform-origin: center 229vh;}
    50%{transform: rotate(0deg); transform-origin: center 229vh;}
    75%{transform: rotate(0.5deg); transform-origin: center 229vh;}
    100%{transform: rotate(0deg); transform-origin: center 229vh;}
  }
  @keyframes Ann_block_hover {
    0%{margin-left: 7vh; margin-top: -194vh; opacity: 0;}
    100%{margin-left: 9vh; margin-top: -196vh; opacity: 1;}
  }
  @keyframes Ann_block_mouseout {
    0%{margin-left: 9vh; margin-top: -196vh; opacity: 1;}
    100%{margin-left: 7vh; margin-top: -194vh; opacity: 0;}
  }
  @keyframes Artyom_text {
    0%{margin-left: -8vh;}
    25%{margin-left: -10vh;}
    50%{margin-left: -8vh;}
    75%{margin-left: -6vh;}
    100%{margin-left: -8vh;}
  }
  @keyframes Artyom {
    0%{transform: rotate(0deg); transform-origin: center 40vh;}
    25%{transform: rotate(-0.5deg); transform-origin: center 40vh;}
    50%{transform: rotate(0deg); transform-origin: center 40vh;}
    75%{transform: rotate(0.5deg); transform-origin: center 40vh;}
    100%{transform: rotate(0deg); transform-origin: center 40vh;}
  }
  @keyframes Artyom_block_hover {
    0%{margin-left: -19vh; margin-top: -3vh; opacity: 0;}
    100%{margin-left: -21vh; margin-top: -5vh; opacity: 1;}
  }
  @keyframes Artyom_block_mouseout {
    0%{margin-left: -21vh; margin-top: -5vh; opacity: 1;}
    100%{margin-left: -19vh; margin-top: -3vh; opacity: 0;}
  }
  .Peter_block {
    position: relative;
    margin-left: -27vh;
    margin-top: -22vh;
    opacity: 0;
  }
  @keyframes Peter {
    0%{transform: rotate(0deg); transform-origin: center 40vh;}
    25%{transform: rotate(-0.5deg); transform-origin: center 40vh;}
    50%{transform: rotate(0deg); transform-origin: center 40vh;}
    75%{transform: rotate(0.5deg); transform-origin: center 40vh;}
    100%{transform: rotate(0deg); transform-origin: center 40vh;}
  }
  @keyframes Peter_block_hover {
    0%{margin-left: -27vh; margin-top: -22vh; opacity: 0;}
    100%{margin-left: -29vh; margin-top: -24vh; opacity: 1;}
  }
  @keyframes Peter_block_mouseout {
    0%{margin-left: -29vh; margin-top: -24vh; opacity: 1;}
    100%{margin-left: -27vh; margin-top: -22vh; opacity: 0;}
  }
  .Pavel_block {
    position: relative;
    margin-left: -29vh;
    margin-top: -13vh;
    opacity: 0;
  }
  @keyframes Pavel {
    0%{transform: rotate(0deg); transform-origin: center 40vh;}
    25%{transform: rotate(-0.5deg); transform-origin: center 40vh;}
    50%{transform: rotate(0deg); transform-origin: center 40vh;}
    75%{transform: rotate(0.5deg); transform-origin: center 40vh;}
    100%{transform: rotate(0deg); transform-origin: center 40vh;}
  }
  @keyframes Pavel_block_hover {
    0%{margin-left: -29vh; margin-top: -13vh; opacity: 0;}
    100%{margin-left: -31vh; margin-top: -15vh; opacity: 1;}
  }
  @keyframes Pavel_block_mouseout {
    0%{margin-left: -31vh; margin-top: -15vh; opacity: 1;}
    100%{margin-left: -29vh; margin-top: -13vh; opacity: 0;}
  }
  .slide_renders {
    margin-top: 12vh;
  }
  .about {
    position: relative;
    margin-left: -20vw;
  }
  .p_width_2 {
    padding-top: 16vh;
  }
  .slide_book_price {
    margin-top: 5vh;
  }
  .slide_renders_image,
  .slide_book_image {
    width: 90vh;
    height: 61vh;
  }
  @keyframes slideshow_renders {
    0% {background-position: top 0 left 0;}
    8.5% {background-position: top 0 left 0;}
    12.5% {background-position: top 0 left -94.5vh;}
    21% {background-position: top 0 left -94.5vh;}
    25% {background-position: top 0 left -189vh;}
    33.5% {background-position: top 0 left -189vh;}
    37.5% {background-position: top 0 left -282vh;}
    46% {background-position: top 0 left -282vh;}
    50% {background-position: top 0 left -375vh;}
    58.5% {background-position: top 0 left -375vh;}
    62.5% {background-position: top 0 left -467.5vh;}
    71% {background-position: top 0 left -467.5vh;}
    75% {background-position: top 0 left -560vh;}
    83.5% {background-position: top 0 left -560vh;}
    87.5% {background-position: top 0 left -652.5vh;}
    96% {background-position: top 0 left -652.5vh;}
    100% {background-position: top 0 left -745vh;}
  }
  @keyframes slideshow_book {
    0% {background-position: top 0 left 0;}
    8.5% {background-position: top 0 left 0;}
    12.5% {background-position: top 0 left -94.5vh;}
    21% {background-position: top 0 left -94.5vh;}
    25% {background-position: top 0 left -187vh;}
    33.5% {background-position: top 0 left -187vh;}
    37.5% {background-position: top 0 left -279vh;}
    46% {background-position: top 0 left -279vh;}
    50% {background-position: top 0 left -373vh;}
    58.5% {background-position: top 0 left -373vh;}
    62.5% {background-position: top 0 left -465vh;}
    71% {background-position: top 0 left -465vh;}
    75% {background-position: top 0 left -558.5vh;}
    83.5% {background-position: top 0 left -558.5vh;}
    87.5% {background-position: top 0 left -651.5vh;}
    96% {background-position: top 0 left -651.5vh;}
    100% {background-position: top 0 left -745vh;}
  }
  .price {
    margin-top: calc(59vh - 60px);
  }
  .excursion {
    height: 373vh;
  }
  .calendar {
    margin-left: 9vh;
  }
  .calendar_tree {
    background-position: top 0 left -16vh;
    margin-left: -9vh;
  }
  .date_2 {
    margin-left: 7vh;
  }
  .date_3 {
    margin-left: 7vh;
  }
  .date_4 {
    margin-left: 8.5vh;
  }
  .date_5 {
    margin-left: 4.5vh;
  }
  .date_6 {
    margin-left: 3.5vh;
  }
  .date_7 {
    margin-left: 1.5vh;
  }
  .round_table:nth-of-type(1) {
    margin-left: -0.5vh;
  }
  .round_table:nth-of-type(3) {
    margin-left: 22.5vh;
  }
  .cleaning_day:nth-of-type(4) {
    margin-left: -3.5vh;
  }
  .cleaning_day:nth-of-type(5) {
    margin-left: -9.5vh;
  }
  .cleaning_day:nth-of-type(6) {
    margin-left: -3vh;
  }
  .round_table:nth-of-type(7) {
    margin-left: -8.5vh;
  }
  .events {
    height: 319.5vh;
    width: 100vw;
  }
  .events section {
    padding-top: 0;
    width: 100vw;
    height: 100vh;
  }
  #button_form {
    bottom: 1.7vh;
  }
  .shop {
    height: 259.5vh;
  }
  .shop section {
    background-color: #0019A8;
    height: 244vh;
  }
  #form_order {
    margin-top: 203.5vh;
    margin-left: 8.5vw;
  }
  .shop input:nth-of-type(2) {
    margin-top: -2vh;
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main {
    width: 768px;
    overflow: hidden;
  }
  /* Стили для строчных элементов */
  p,
  li,
  label {
    font-size: 22px;
    line-height: 25px;
  }
  li:nth-of-type(2) {
    margin-top: 2vh; /* расположение 2 пункта нумерованного списка */
  }
  ul {
    margin-top: 5vh;
  }
  a {
    font-size: 10px;
    line-height: 12px;
    margin-top: 3.5vh;
  }
  .text_small {
    font-size: 16px;
    line-height: 19px;
  }
  .text_small_2 {
    font-size: 12px;
    line-height: 14px;
  }
  .menubar {
    width: 8vw;
    top: 2.5vh;
  }
  .weather,
  .types_of_pain,
  .heading_for_services,
  .types_of_services,
  .get_bonus,
  .footer,
  .heading_pain,
  .heading_doctors,
  .heading_map,
  .heading_form,
  .form_grid,
  .heading_shop,
  .product,
  .heading_excursion,
  .heading_book,
  .plan_about,
  .slide_renders,
  .slide_book_price,
  .p_width_2,
  .heading_events,
  .heading_announcements,
  .event_description {
    margin-left: 4vw;
  }
  .heading_start {
    background: url(../images/heading_1.1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60vh;
    height: 60vh;
    top: 2.5vh;
    left: 4vw;
  }
  .p_start {
    margin-top: -10vh;
    margin-left: 4vw;
    width: 65vw;
    position: relative;
  }
  .container_trees,
  .rectangle_grid {
    width: 100vw;
    height: 102vh;
  	left: 4vw;
  }
  .container_trees .tree_3,
  .container_trees .tree_3_green,
  .rectangle_transparent_3 {
    width: 0;
    display: none;
  }
  .tree_1 {
    background: url(../images/tree_1.1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom 0 right 0;
    width: 21vh;
    height: 102vh;
    z-index: 3;
  }
  .tree_1_green {
    background: url(../images/tree_1.1_green.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom 0 right 0;
    width: 21vh;
    height: 102vh;
    z-index: 3;
  }
  .tree_1,
  .tree_2,
  .tree_1_long,
  .tree_3,
  .tree_4,
  .pain_1,
  .pain_2,
  .pain_3,
  .services,
  .heading_doctors {
    background-size: 92%;
  }
  .container_trees div:nth-of-type(2),
  .rectangle_transparent_2 {
    margin-left: -2vw;
  }
  .container_trees div:nth-of-type(4),
  .rectangle_transparent_4 {
    margin-left: -1vw;
  }
  .rectangle_transparent_2 {
    width: 20vh;
  }
  .rectangle_grid {
    margin-top: -64vh;
  }
  .weather {
    align-items: center;
    padding-top: 2vh;
    height: 10vh;
  }
  .deg,
  .heading_pain {
    background-size: 85%;
  }
  .weather p:nth-of-type(2),
  .deg {
    margin-left: 2vw;
  }
  .heading_pain {
    top: -10vh;
  }
  .types_of_pain {
    margin-top: 2.2vh;
    height: 80vh;
    margin-bottom: 0;
  }
  .pain_1 {
    margin-left: -2vw;
    height: 86vh;
  }
  .pain_2 {
    margin-left: -5vw;
    height: 86vh;
  }
  .pain_3 {
    margin-left: -2vw;
    height: 86vh;
  }
  .gap_1,
  .gap_2 {
    display: none;
  }
  .types_of_pain {
    margin-top: 2.2vh;
    height: 86vh;
    margin-bottom: 0;
  }
  .pain_block_1 p {
    margin-top: -30vh; /* расположение подписей к картинкам */
  }
  .pain_block_2 p {
    margin-top: -30vh; /* расположение подписей к картинкам */
  }
  .pain_block_3 p {
    margin-left: -15vh; /* расположение подписей к картинкам */
  }
  .heading_for_services {
    margin-top: 5vh;
    flex-wrap: wrap;
  }
  .heading_for_services p {
    margin-left: -2vw;
  }
  .heading_for_services_2 {
    margin-top: 8vh;
  }
  .services_hospitals,
  .services_cabinets {
    height: 41vh;
  }
  .hospital_block_2 {
    margin-left: 6vw;
  }
  .hospital_block_3 {
    margin-top: 5vh;
    margin-left: 5vw;
  }
  .hospitals,
  .cabinets {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3vh;
  }
  .hospital_2 {
    width: 17vh;
  }
  .hospital_3 {
    width: 15vh;
  }
  .cabinets {
    padding-left: 0;
  }
  .cabinet_block_1,
  .cabinet_block_2 {
    margin-top: 1vh;
  }
  .cabinet_block_3 {
    margin-top: 2.5vh;
  }
  .cabinet_2 {
    margin-left: -2vw;
  }
  .cabinet_3 {
    width: 22vh;
  }
  .get_bonus,
  .order {
    margin-top: 6vh;
  }
  .names_of_doctors {
    margin-top: -14vh;
    margin-left: 0;
  }
  .heading_doctors {
    padding-top: 7vh;
    background-position: center left 0;
    margin-left: 3.5vw;
  }
  .doctor_block_1 {
    width: 42vh;
  }
  .doctor_block_2 div:nth-of-type(1) {
    margin-top: -2vh; /* выравнивание дерева */
  }
  .doctor_1 {
    width: 60vh;
    height: 47vh;
    margin-top: -92vh;
    margin-left: -6vh;
  }
  .doctor_block_1 p {
    margin-top: -36vh;
    margin-left: 41vh;
    width: 17vw;
  }
  .rectangle {
    width: 20vh;
    height: 37vh;
    margin-top: -40vh;
    margin-left: -5vh;
  }
  .main_page section:nth-of-type(5) {
    z-index: 100;
  }
  .gap_5 {
    width: 3vw;
  }
  .doctor_2 {
    width: 60vh;
    height: 47vh;
    margin-top: -65vh;
    margin-left: -27vh;
    z-index: 4;
  }
  .doctor_block_2 {
    margin-left: -23vw;
  }
  .doctor_block_2 .rectangle {
    z-index: 5;
  }
  .doctor_block_2 .tree_1 {
    z-index: 6;
  }
  .p_position_main_page_2 {
    margin-top: 5vh;
    margin-left: -5vh; /* расположение подписей к картинкам */
  }
  .doctor_block_3 {
    margin-left: -13vw;
  }
  .doctor_3 {
    width: 60vh;
    height: 47vh;
    margin-top: -78vh;
    margin-left: -26vh;
    z-index: 6;
  }
  .doctor_block_3 div:nth-of-type(1) {
    margin-left: -6vh;
    z-index: 8;
  }
  .doctor_block_3 .rectangle {
    z-index: 7;
  }
  .doctor_block_3 p {
    margin-left: -0.5vw;
  }
}
