.shop {
  height: 252vh;
}
.shop section {
  background-color: #0019A8;
  height: 236vh;
}
.heading_shop {
  background: url(../images/heading_11.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 4;
  width: 40vh;
  height: 7vh;
  top: 7.5vh;
  margin-left: 3.5vw;
}
.product,
.characteristics,
.order {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
.product {
  height: 58vh;
  margin-left: 3.5vw;
  padding-top: 14vh;
}
.product_padding-top {
  padding-top: 28vh;
}
.product_height_1 {
  height: 54vh;
}
.product_height_2 {
  height: 51vh;
}
.characteristics {
  margin-top: 4vh;
}
.name_and_structure p:nth-of-type(2) {
  margin-top: 3.2vh;
}
.price_and_order_1 {
  margin-left: calc(32vh - 199.7px);
}
.price_and_order_2 {
  margin-left: calc(32vh - 231.1px);
}
.price_and_order_3 {
  margin-left: calc(32vh - 231.4px);
}
.price_and_order_4 {
  margin-left: calc(32vh - 230px);
}
.price_and_order_5 {
  margin-left: calc(32vh - 201.2px);
}
.price_and_order_6 {
  margin-left: calc(32vh - 216.2px);
}
.order {
  align-items: center;
  cursor: url(../images/pointer.svg), auto;
  padding-left: 1.2vh;
}
.order p {
  padding-left: 2vh;
}
.order_margin-top_1 {
  margin-top: 11vh;
}
.order_margin-top_2 {
  margin-top: 5.5vh;
}
.order_margin-top_3 {
  margin-top: 4vh;
}
.medicine_image_1 {
  background: url(../images/medicine_image_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.medicine_image_2 {
  background: url(../images/medicine_image_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.garden_image_1 {
  background: url(../images/garden_image_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.garden_image_2 {
  background: url(../images/garden_image_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.souvenirs_image_1 {
  background: url(../images/souvenirs_image_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.souvenirs_image_2 {
  background: url(../images/souvenirs_image_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 55vh;
  height: 36vh;
  display: block;
}
.product_2 {
  margin-left: 4vw;
}
